@use "../../styles/partials/mixins.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap");

.quiz {
  &-parent {
    max-width: 80rem;
    margin: 0 auto;
  }
  font-family: "Anek Malayalam", sans-serif;
  background-color: white;
  color: #11052c;
  margin: 3rem 2rem;
  padding: 0.5rem 0;
  border-radius: 3rem;

  @include tablet {
    margin: 3rem 5rem;
  }

  @include desktop {
    margin: 3rem 7rem;
  }

  &__container {
    padding: 0rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      padding: 0rem 3.5rem;
    }
  }

  &__arrow {
    padding-top: 1rem;
    cursor: pointer;
  }

  &__question-container {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__question {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__label {
    display: block;
    margin-bottom: 0.5rem;
  }

  &__input {
    margin-right: 0.5rem;
  }

  &__text {
    font-size: 1.2rem;
  }

  &__buttons {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  &__button {
    background-color: #4caf50;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;

    &--previous {
      background-color: #f44336;
    }

    &--next {
      background-color: #4caf50;
    }

    &--submit {
      background-color: #008cba;
    }
  }

  &__result {
    margin-top: 1rem;

    &-container {
      @include tablet {
        display: flex;
        gap: 2rem;
      }
    }
  }

  &__result-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  &__result-item {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
  }

  &__job-search {
    background-color: #564caf;
    width: 100%;
    margin: 1rem 1rem;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    &--retake {
      background-color: #4caf50;
    }

    @include tablet {
      padding: 0.5rem 1.5rem;
    }

    &-container {
      display: flex;
      justify-content: space-between;

      @include mobile {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
      }
    }
  }

  &__pie-chart {
    max-width: 30rem;
    margin: 1rem auto;
    display: block;
  }
}
