@use "../../styles/partials/mixins" as *;

.quiz-length {
  background-color: white;
  margin: 3rem 2rem;
  padding: 2.5rem 0;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-parent {
    max-width: 80rem;
    margin: 0 auto;
  }

  @include tablet {
    margin: 3rem 8rem;
  }

  @include desktop {
    margin: 3rem 13rem;
  }
  &__container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    @include mobile {
      flex-direction: column;
    }
  }

  &__title {
    font-weight: 500;

    @include mobile {
      font-size: 1.4rem;
      padding: 0 1rem;
    }
  }

  &__option {
    color: black;
    margin: 1rem 1rem;
    width: 60%;
    position: relative;
    padding: 1em 2em;
    cursor: pointer;
    outline: none;
    border-radius: 100px;
    display: inline-block;
    border: 2px solid black;
    overflow: hidden;
    max-width: 220px;
    &:hover .quiz-length__animate,
    &:active .quiz-length__animate {
      transform: translateY(0);
    }
    &:hover .quiz-length__text,
    &:active .quiz-length__text {
      position: relative;
      color: white;
    }
  }
  &__animate {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: blue;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    background-image: linear-gradient(
      90deg,
      rgb(180, 158, 58) 0%,
      rgb(253, 29, 29) 50%,
      rgb(252, 176, 69) 100%
    );
  }

  &__text {
    display: flex;
    justify-content: center;
    z-index: 3;
    font-weight: 500;
  }
}
